{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="card p-5 shadow-sm border-0">
                <h3 class="fw-bold mb-4" style="color: #2C3E50;">Nueva orden de trabajo</h3>
                <form method="POST" action="">
                    {% csrf_token %}
                    
                    <div class="mb-4">
                        <label for="descripcion" class="form-label fw-semibold">Falla técnica detectada</label>
                        <textarea class="form-control" id="descripcion" name="descripcion" rows="4" placeholder="Describe detalladamente el problema con tu equipo..." required></textarea>
                    </div>
                    
                    <div class="row mb-4">
                        <div class="col-6">
                            <label for="fecha" class="form-label fw-semibold">Fecha propuesta</label>
                            <input type="date" class="form-control" id="fecha" name="fecha" required>
                        </div>
                        <div class="col-6">
                        <label class="form-label fw-bold small text-muted">HORA DEL SERVICIO</label>
                        <input type="time" name="horario" class="form-control" required>                            
                    </select>
                        </div>
                    </div>
                    
                    <div class="p-3 bg-light rounded-3 mb-4 border">
                        <h6 class="fw-bold mb-3 text-dark"><i class="bi bi-geo-alt-fill text-danger d-inline me-2"></i>Dirección física del problema</h6>
                        <div class="mb-2">
                            <input type="text" class="form-control" name="direccion" placeholder="Calle, Número, Colonia o Fraccionamiento" required>
                        </div>
                        <div>
                            <input type="text" class="form-control" name="referencias" placeholder="Referencias de la fachada (ej. Portón negro)">
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-success w-100 btn-lg text-white fw-bold shadow-sm" style="background-color: #34C759 !important; border-color: #34C759 !important;">Enviar solicitud </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}