{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card p-5 shadow-sm border-0">
                <div class="text-center mb-4">
                    <i class="bi bi-person-circle display-4 text-primary" style="color: var(--color-acento) !important;"></i>
                    <h3 class="fw-bold mt-2" style="color: var(--color-primario);">Iniciar Sesión</h3>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label fw-semibold">Usuario o Alias</label>
                        <input type="text" class="form-control" placeholder="Ej. carlos_mendoza" required>
                    </div>
                    <div class="mb-4">
                        <label class="form-label fw-semibold">Contraseña</label>
                        <input type="password" class="form-control" placeholder="********" required>
                    </div>
                    <button class="btn btn-primary w-100 shadow-sm" style="background-color: var(--color-acento);">Entrar al Sistema</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}