{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-5 shadow-sm border-0">
                <h3 class="fw-bold mb-4 text-center" style="color: var(--color-primario);">Registrar Nueva Cuenta</h3>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-4 p-3 bg-light rounded-3 border">
                        <label class="form-label fw-bold" style="color: var(--color-primario);">¿Cómo deseas usar ProWorker?</label>
                        <select class="form-select border-primary" name="tipo_usuario" required>
                            <option value="cliente">Quiero buscar y contratar técnicos (Cliente)</option>
                            <option value="tecnico">Quiero postularme para ofrecer servicios (Técnico)</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-semibold">Nombre de Usuario</label>
                        <input type="text" class="form-control" placeholder="Ej. maria_tabasco" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-semibold">Correo Electrónico</label>
                        <input type="email" class="form-control" placeholder="ejemplo@correo.com" required>
                    </div>
                    <div class="mb-4">
                        <label class="form-label fw-semibold">Contraseña de Seguridad</label>
                        <input type="password" class="form-control" placeholder="********" required>
                    </div>
                    <button class="btn btn-primary w-100 shadow-sm" style="background-color: var(--color-acento);">Completar Registro</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}